.home-page {
    background: url(../../img/pixel-jeff-clipa-s.gif) no-repeat center/cover;
    min-height: 100vh;
    overflow: hidden;
  
  .home-page-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #eee;
    -webkit-text-stroke: 2.5px;
    -webkit-text-stroke-color: #333;
  }
  
  .home-page-resume {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: #eee;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #333;
  }  
}
