@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: url(../../img/art-scenery-gif-waterfall-3368027.gif) no-repeat center/cover;
  height: 100vh;
  overflow: hidden;
}

.app {
  margin: 1em;
  text-align: center;
}