.contact {
  background: url(../../img/pixel-jeff-night-shift.gif) no-repeat center/cover;
  min-height: 100vh;
  overflow: hidden;

  .contact-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #eee;
    -webkit-text-stroke: 2.5px;
    -webkit-text-stroke-color: #333;
  }
  
  .contact-resume {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    color: #eee;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #333;
  }
}
