.header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .header-title {
    margin: 15px;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5rem;
    color: #eee;
    -webkit-text-stroke: 2.5px;
    -webkit-text-stroke-color: #333;
  
    &:hover {
      text-shadow: 0 0 10px #eee;
    }
    
    .header-dash {
      display: inline-block;
        height: 15px;
        width: 45px;
        background-color: #eee;
        animation: blink 1s infinite linear;
        border: 3.5px solid #333;
    }
    
    @keyframes blink {
      0% {
        opacity: 1;
      }
      99% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
