// nav {
//   width: 50%;
// }

ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #eee;
  text-align: start;
  margin: 15px auto;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #333;
}

h2:hover {
  text-shadow: 0 0 5px #eee;
  display: inline-block;
  -webkit-text-stroke: 2.5px;
  -webkit-text-stroke-color: #333;
}

.active-navbar {
  padding: 0 0 0 10px;
  border-left: 18px ridge #eee;
  display: inline-block;
  -webkit-text-stroke: 2.5px;
  -webkit-text-stroke-color: #333;
}