.navbar {
  height: 150px;

  .active-navbar {
    padding: 0 0 0 10px;
    border-left: 18px ridge #eee;
    display: inline-block;
    -webkit-text-stroke: 2.5px;
    -webkit-text-stroke-color: #333;
  }

  .h2-navbar {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: #eee;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #333;
  
    &:hover {
      text-shadow: 0 0 10px #eee;
      display: inline-block;
      -webkit-text-stroke: 2.5px;
      -webkit-text-stroke-color: #333;
    }
  }  
}
